
<style media="screen">
    .widget{
    	width:600px;
		left: 0;
		margin: 0 auto;
		position: fixed;
		right: 0;
		top: 150px;
        border: 1px solid #999;
        border-radius: 10px;		
    } 
</style>
<div class="widget">
    <div class="col-md-12 col-md-offset-3" style="">
        <div class="panel panel-default object-panel" style="margin: 0 auto; padding: 20px"> 
            <?php if ($user = $this->identity()) { ?>
                <h1 style="float:left;">Welcome
                    <a href="<?php // echo $this->url('editProfile');   ?>">
                        <span class="zf-green"><?php echo $this->escapeHtml($user->getEmail()); ?></span>
                    </a>
                </h1>

                <div style="clear: both"></div>
                You are logged in as <?php echo $this->escapeHtml($user->getDisplayName()); ?>.
                <p>
                    <a href="<?php// echo $this->url('register', array('action' => 'edit-profile')) ?>">
                        <?php echo $this->translate('Change password') ?>
                    </a>
                </p>
                <p>
                    <a href="<?php echo $this->url('ledsUser', array('action' => 'logout')) ?>">
                        <?php echo $this->translate('Logout') ?>
                    </a>
                </p>
            <?php } else { ?>
                <h1>Welcome <span  style="color: #FF8C00">Guest</span>!</h1>
            <?php } ?>
        </div>
    </div>
</div>
