#captcha-row #captcha-image{
    margin-bottom: 20px;
}
#captcha-row{
    background: appworkspace;
    padding-top: 15px;
    padding-bottom: 15px;
}
input #password{
	margin-bottom: 0px;
}
#captcha-image {
    height: 55px;
    margin-left: 20%;
    padding: 10px;
    width: 60%;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px; 
    line-height: 1.42857;
    margin-bottom: 5px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}
textarea.form-control {
    height: 120px;
}
#footer .row {
    background: rgba(97, 116, 135, 1) none repeat scroll 0 0;
    bottom: 0;
    color: #edeff1;
    position: fixed;
    width: 100%;
}
#footer p {
    margin: 5px;
}
h3.form-signin-heading{
    text-align: left;
    width: 60%;
    text-transform: uppercase;
    font-size: 1.5em;
}
.modal-footer .footer-links{
    text-align: center;
    text-transform: uppercase;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
