<?php
// $this->headLink()->appendStylesheet($this->basePath() . '/css/bootstrap.css');
// $this->headLink()->appendStylesheet($this->basePath() . '/css/bootstrap-modal.css');
// $this->headLink()->appendStylesheet($this->basePath() . '/css/bootstrap-modal-bs3patch.css');
//
// $this->inlineScript()->appendFile($this->basePath() . '/js/jquery.min.js');
// $this->inlineScript()->appendFile($this->basePath() . '/js/bootstrap.js');
// $this->inlineScript()->appendFile($this->basePath() . '/js/bootstrap-modalmanager.js');
// $this->inlineScript()->appendFile($this->basePath() . '/js/bootstrap-modal.js');
// $this->inlineScript()->appendFile($this->basePath() . '/js/connect.js');
$this->headLink()->appendStylesheet($this->basePath('/css/modalform.css'))

?>
<?php if($user = $this->identity()): ?>
    <h1>connected</h1>
    <?php echo $user->getEmail(); ?>
    <br> 
    <a href="<?php echo $this->url('ledsUser', array('action' => 'logout')); ?>">Logout</a>
<?php else: ?>
    <h1>not connected</h1>
    <a href="#" class="registration">Register</a>
<?php endif; ?>
<br>
<a href="<?php echo $this->url('home'); ?>">go home</a>
<br>
<?php var_dump($_SESSION['local_auth']) ?>
<br>
<?php var_dump($_SESSION['referer']) ?>
