<?php
$title = 'Create Account';
$this->headTitle($title);
$form = $this->form;
$form->setAttribute('action', $this->url('ledsRegister', array('action' => 'index', 'id' => $this->id)));
// $this->headLink()->appendStylesheet($this->basePath('/css/modalform.css'));
?>

<!-- <div class="" style="height: 200px"></div> -->

<div class="modal-header">
	<h3 class="form-signin-heading"><?php echo $title; ?></h3>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <div class="tab-content">
        <?php echo $this->form()->openTag($form); ?>
            <br>
            <?php echo $this->formCollection($form); ?>
        <?php echo $this->form()->closeTag($form); ?>
	</div>
</div>
<div class="modal-footer">
    <?php echo $this->oauthWidget(); ?>
    <div class="footer-links">
        <a href="#" class="load-register">Reload</a> ||
        <a href="#" class="load-login">You already have an account</a>
    </div>
</div>
